body{
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}

#heading{

font-size: 95px;
margin-top: 0px;
margin-bottom: 0px;

}

#smallHeading{

    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

