
/* #page1 {

text-align: center;

}

#page2 {

text-align: center;


}

#page3 {

    text-align: center;
    
    
    } */

/* #progressBar{

float: right;

} */

table.logTable {

    color: black;
    /* height: 523px; */
   margin-left: auto;
   margin-right: auto;

  border-collapse: collapse;

}

table.inputTable {

    color: white;
    height: 523px;
   margin-left: auto;
   margin-right: auto;

  border-collapse: collapse;

}




th{


    height:40px;
    width: 110px;
}


td {

    height:40px;
    width: 110px;
    text-align: center;
}

#output {
    border: black solid 1px;
    background-color: White;
}
    
    

    
h1{
      border: black solid 2px;
      text-align: Center;
  
      background-color:  DeepSkyBlue;
      Padding: 0;
      Margin-Top: 0px;
      
    }
    
    h2{
      
      border: black solid 2px;
      text-align: Center;
      
      background-color:  DeepSkyBlue;
      
      
    }

   p{
        color: white;

   }

   /* #progressBar{
    height:3%;
   width:25%;
   } */

   

